.formWrapper {
  width: 324px;
}

.form {
  margin-bottom: 29px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 74px;
}

.label {
  color: #c4c4c4;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
} 

.text {
  margin: 0;
  color: var(--secondary-text-color);
}

.register {
  color: var(--primary-color);
  text-decoration: none;
}