.button {
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  font-family: inherit;
  background: var(--primary-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background 0.25s;
}

.button:hover {
  background: var(--primary-color-hover);
}