.headline {
  margin-bottom: 40px;
}

.line {
  max-width: 512px;
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
}

.line span {
  color: #9796a1;
}

.hr {
  max-width: 512px;
  margin: 0;
  border: 1px solid #f1f2f3;
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
}

.price {
  font-weight: 400;
  font-size: 19px;
  text-align: right;
  color: var(--main-text-color);
}

.totalCount {
  font-weight: 300;
  font-size: 14px;
  color: #bebebe;
}

.checkout {
  display: flex;
  max-width: 512px;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}