.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--separator-color);
}