.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.text {
  font-weight: 300;
  font-size: 31px;
  line-height: 120%;
  text-align: center;
  color: var(--main-text-color);
}
