.item {
  display: flex;
  gap: 20px;
  max-width: 512px;
  margin-bottom: 27px;
}

.image {
  width: 82px;
  height: 82px;
  background-size: cover;
  filter: drop-shadow(0 8px 25px 0 rgba(224, 219, 196, 0.9));
  border-radius: 20px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  color: var(--main-text-color);
}

.price {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  color: var(--primary-color);
}

.minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: none;
  cursor: pointer;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  cursor: pointer;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 29px;
  height: 29px;
  background: none;
  cursor: pointer;
}

.number {
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  color: var(--main-text-color);
}
