:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-color-hover: #df6442;
  --background-color: #FFFFFF;
  --button-text-color: #FFFFFF;
  --main-text-color: #000000;
  --secondary-text-color: #5B5B5E;
  --separator-color: #D4D6E0;
}

body {
  font-family: var(--font);
  background-color: var(--background-color);
}
